body {
  background-image: linear-gradient(-20deg, #ddd6f3 0%, #faaca8 100%, #faaca8 100%);
}

.app-container {
  padding-top: 80px;
  text-align: center;
}

#todo-input {
  border-radius: 4px;
  border: 1px solid #eeeeee;
  line-height: 40px;
  height: 40px;
  outline: none;
  padding: 0 12px;
  width: 500px;
}

#todos-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  position: relative;
  width: 100%;
}

.todo-item {
  border-bottom: 1px solid #eeeeee;
}

.delete-icon {
  position: absolute;
  right: 0;
}