body {
  /* background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%); */
  background-color: #ffffff;
}

#clear-button {
  margin: auto;
}

.is-visible {
  display: block !important;
}

.app-container {
  padding-top: 80px;
  text-align: center;
}

#todo-input {
  border-radius: 4px;
  border: 1px solid #eeeeee;
  line-height: 48px;
  height: 48px;
  outline: none;
  padding: 0 12px;
  width: 500px;
}

#todos-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  position: relative;
  width: 100%;
}

.todo-item {
  border-bottom: 1px solid #eeeeee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.todo-item label {
  margin: 0;
  padding: 1rem 0;
}

.todo-item:hover .delete-icon {
  /* display:block; */
}

.delete-icon {
  background-color: #eeeeee;
  border-radius: .2rem;
  display: block;
  padding: .5rem;
}

.delete-icon:hover {
  cursor: pointer;
}

.delete-icon:hover i {
  color: #000000;
}

.delete-icon i {
  color: #cccccc;
  display: block;
}