body {
  /* background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%); */
  background-color: #ffffff;
}

#clear-button {
  margin: auto;
}

.is-visible {
  display: block !important;
}

.app-container {
  padding-top: 80px;
  text-align: center;
}

#todo-input {
  border-radius: 4px;
  border: 1px solid #eeeeee;
  line-height: 48px;
  height: 48px;
  outline: none;
  padding: 0 12px;
  width: 500px;
}

#todos-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  position: relative;
  width: 100%;
}

.todo-item {
  border-bottom: 1px solid #eeeeee;
}

.delete-icon {
  position: absolute;
  right: 0;
}