body {
  /* background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%); */
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif; }

input {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem; }

#clear-button {
  margin: auto; }

.is-visible {
  display: block !important; }

.app-container {
  padding-top: 80px;
  text-align: center; }

#todo-input {
  border-radius: 4px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  line-height: 48px;
  height: 48px;
  outline: none;
  padding: 0 12px;
  width: 500px; }

#todos-list {
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  padding-left: 0;
  position: relative;
  width: 100%; }

#todos-list li.editing label,
#todos-list li.editing button {
  display: none; }

#todos-list li.editing input {
  display: block; }

.todo-item {
  border-bottom: 1px solid #eeeeee;
  position: relative; }

#todos-list li input {
  border: none;
  box-sizing: border-box;
  line-height: 48px;
  margin: 0 0 0 3rem;
  padding: 0 1rem;
  width: 452px; }

#todos-list input[type='checkbox'] {
  margin-left: 0;
  position: absolute;
  top: 1rem;
  left: 0;
  height: 24px;
  width: 24px; }

.todo-item label {
  display: block;
  font-size: 1.3rem;
  margin: 0 0 0 3rem;
  line-height: 48px;
  padding: 0 1rem;
  text-align: left; }

.todo-item label.completed {
  color: #cccccc;
  text-decoration: line-through; }

.todo-item:hover .delete-icon {
  display: block; }

.delete-icon {
  background-color: #eeeeee;
  border: none;
  border-radius: .2rem;
  display: none;
  padding: .5rem;
  position: absolute;
  top: .7rem;
  right: .5rem; }

.delete-icon:hover {
  cursor: pointer; }

.delete-icon:hover i {
  color: #000000; }

.delete-icon i {
  color: #cccccc;
  display: block; }

.todo-edit {
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.4);
  display: none;
  outline: none; }
