body {
  background-color: $white;
  font-family: 'Montserrat', sans-serif, Arial, Helvetica, sans-serif;
  margin: 0;
}

header {
  text-align: left;
}
  
input {
  font-family: 'Montserrat', sans-serif;;
  font-size: 1.2rem;
}

.is-visible {
  display: block !important;
}

#app-container {
  padding: 64px 0;
  position: relative;
  left: 4.5rem;
}

#app-inner-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 620px;
}

.text-header {
  color: $textColor-secondary;
  font-weight: 600;
}

#clear-input-button {
  background-color: transparent;
  border: 0;
  display: none;
  outline: none;
  position: absolute;
  top: 14px;
  right: 6px;

  i {
    color: $color-tertiary;
    font-size: 16px;
    transition: all .1s;
  }

  &:hover {
    cursor: pointer;

    i {
      color: $color-primary;
    }
  }
}

.input-container {
  position: relative;
  margin: 2rem 0;

  &.disabled {

    .icon-add-task {
      display: none;
    }

    #clear-input-button {
      display: none !important;
    }

    #todo-input {
      background-color: $color-secondary;
    }
  }
}

#todo-input {
  background-color: transparent;
  border: 2px dashed $color-tertiary;
  border-radius: 4px;
  box-sizing: border-box;
  color: $textColor-secondary;
  font-size: 16px;
  line-height: 48px;
  height: 48px;
  outline: none;
  padding: 16px 2.5rem;
  text-align: left;
  width: 100%;
}

::placeholder {
  color: $color-tertiary;
}

#todos-list {
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  max-width: 680px;
  outline: none;
  padding-left: 0;
  position: relative;
  width: 100%;
}

#todos-list li.editing label,
#todos-list li.editing button,
#todos-list li.editing span {
  display: none;
}

#todos-list li.editing input {
  display: block;
}

.todo-item {
  background-color: $white;
  border-bottom: 1px solid $color-secondary;
  border-radius: 0;
  box-sizing: border-box;
  font-size: 16px;
  outline: none;
  position: relative;

  &:hover {
    .draggable-icon,
    .delete-icon {
      display: block;
    }
  }
}

.todo-view {
  position: relative;
}

.todo-item label.checkbox-container {
  // display: inline;
}

#todos-list li .checkbox-custom {
  background-color: $color-tertiary;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  height: 22px;
  width: 22px;
  position: absolute;
  left: 0;
  top: .95rem;

  &:hover {
    border: 1px solid $color-primary;
  }
}

#todos-list input[type="checkbox"] {
  margin-left: 0;
  position: absolute;
  left: 0;
  top: .95rem;
  height: 22px;
  width: 22px;
  opacity: 0;
}

#todos-list li input {
  border-radius: 1px;
  box-sizing: border-box;
  color: $textColor-primary;
  font-size: 1rem;
  line-height: 30px;
  margin: 0 0 0 2rem;
  padding: .7rem 1rem;
  width: 95%;
}

.todo-item label.todo-text {
  border: 1px solid transparent;
  color: $textColor-primary;
  display: block;
  font-size: 1rem;
  margin: 0 0 0 1.8rem;
  line-height: 30px;
  padding: .7rem 5rem .7rem .5rem;
  text-align: left;
}

.todo-item-icon-container {
  display: flex;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.icon {
  border: none;
  border-radius: 4px;
  display: inline-block;
  padding: .4rem .6rem;
  transition: all .2s;

  i {
    color: $color-tertiary;
    font-size: .875rem;
  }

  &:hover {
    background-color: $color-tertiary;
    cursor: pointer;

    i {
      color: $white;
    }
  }
}

.draggable-icon:hover {
  cursor: grab;
}

.delete-icon,
.draggable-icon {
  display: none;
}

.todo-edit {
  box-shadow: inset 0 0 4px rgba($color-primary,.4), inset 0 0 8px rgba($color-primary,.2);
  border: 1px solid $color-primary !important;
  display: none;
  outline: none;
  margin-left: 0 !important;
  padding-left: 2.3rem !important;
  position: relative;
  width: 100% !important;
  z-index: 4;
}