body {
  background-color: $white;
  font-family: 'Montserrat', sans-serif, Arial, Helvetica, sans-serif;
  margin: 0;
}

header {
  padding: 0 24px;
  text-align: left;
}

.header-logo {
  color: $white;
  font-size: 32px;
  font-weight: 700;
  margin: .8rem 0;
  text-align: center;
}
  
input {
  font-family: 'Montserrat', sans-serif;;
  font-size: 1.2rem;
}

.is-visible {
  display: block !important;
}

#app-container {
  padding: 64px 0;
  position: relative;
  left: 4.5rem;
}

#app-inner-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 664px;
}

.input-container {
  position: relative;
  margin: 2rem 0;

  &.disabled {
    visibility: hidden;
  }
}

.text-header {
  color: $textColor-secondary;
  font-weight: 600;
}

#clear-input-button {
  background-color: transparent;
  border: 0;
  display: none;
  outline: none;
  position: absolute;
  top: 14px;
  right: 0;

  i {
    color: rgba($black, .2);
    font-size: 16px;
  }

  &:hover {
    cursor: pointer;

    i {
      color: rgba($black, .4);
    }
  }
}

#todo-input {
  background-color: transparent;
  border: 2px dashed $color-tertiary;
  border-radius: 4px;
  box-sizing: border-box;
  color: $textColor-secondary;
  font-size: 16px;
  line-height: 48px;
  height: 48px;
  outline: none;
  padding: 16px 16px 16px 2.5rem;
  text-align: left;
  width: 100%;

  &.disabled {
    visibility: hidden;
  }
}

::placeholder {
  color: $color-tertiary;
}

.todos-list-container {
  padding: 0 24px;
}

#todos-list {
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  max-width: 680px;
  outline: none;
  padding-left: 0;
  position: relative;
  width: 100%;
}

#todos-list li.editing label,
#todos-list li.editing button,
#todos-list li.editing span {
  display: none;
}

#todos-list li.editing input {
  display: block;
}

.todo-item {
  background-color: $white;
  border-bottom: 1px solid $color-secondary;
  border-radius: 0;
  box-sizing: border-box;
  font-size: 16px;
  outline: none;
  padding: .5rem 0;
  position: relative;

  &:hover {
    .draggable-icon,
    .delete-icon {
      display: block;
    }
  }
}

.todo-view {
  position: relative;
}

#todos-list li input {
  border: none;
  border-radius: .2rem;
  box-sizing: border-box;
  font-size: 1rem;
  line-height: 44px;
  margin: 0 0 0 2rem;
  padding: 0 .5rem;
  width: 95%;
}

#todos-list input[type="checkbox"] {
  margin-left: 0;
  position: absolute;
  left: 0;
  top: .25rem;
  height: 32px;
  width: 32px;
}

.todo-item label {
  color: $textColor-primary;
  display: block;
  font-size: 1rem;
  margin: 0 0 0 2rem;
  line-height: 44px;
  padding-left: .5rem;
  text-align: left;
}

.todo-item label.completed {
  color: #cccccc;
  text-decoration: line-through;
}

.todo-item-icon-container {
  display: flex;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.icon {
  border: none;
  border-radius: 4px;
  display: inline-block;
  padding: .4rem .6rem;
  transition: all .2s;

  i {
    color: $color-tertiary;
    font-size: .875rem;
  }

  &:hover {
    background-color: $color-tertiary;
    cursor: pointer;

    i {
      color: $white;
    }
  }
}

.draggable-icon:hover {
  cursor: grab;
}

.delete-icon,
.draggable-icon {
  display: none;
}

.todo-edit {
  box-shadow: inset 0 0 6px rgba($black,.2);
  display: none;
  outline: none;
}