body {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-image: linear-gradient(120deg, $deep-orange-400 0%, $deep-orange-800 100%);
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  color: $white;
}
  
input {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
}

#clear-button,
#clear-completed-button {
  background-color: transparent;
  border: none;
  border-radius: 3px;
  display: none;
  line-height: 28px;
  margin: auto;
  padding: 0 12px;
  text-decoration: underline;

  &:hover {
    background-color: rgba($black, .2);
    cursor: pointer;
  }
}

.is-visible {
  display: block !important;
}

#app-container {
  padding: 80px 0;
  text-align: center;
}

.input-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 500px;
}

#clear-input-button {
  background-color: transparent;
  border: 0;
  display: none;
  outline: none;
  position: absolute;
  top: 14px;
  right: 0;

  i {
    color: rgba($black, .2);
    font-size: 16px;
  }

  &:hover {
    cursor: pointer;

    i {
      color: rgba($black, .4);
    }
  }
}

#todo-input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba($white, .2);
  box-sizing: border-box;
  color: $white;
  line-height: 48px;
  height: 48px;
  outline: none;
  margin-bottom: 2rem;
  padding: 0 12px;
  text-align: center;
  width: 500px;

  &.disabled {
    visibility: hidden;
  }
}

::placeholder {
  color: $white;
  opacity: .2;
}

#todos-list {
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  outline: none;
  padding-left: 0;
  position: relative;
  width: 100%;
}

#todos-list li.editing label,
#todos-list li.editing button {
  display: none;
}

#todos-list li.editing input {
  display: block;
}

.todo-item {
  background-color: $white;
  border: 3px solid transparent;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,.12), 0 4px 12px rgba(0,0,0,.12);
  box-sizing: border-box;
  margin-bottom: 16px;
  outline: none;
  padding: 20px 24px;
  position: relative;
  width: 800px;

  &:hover .delete-icon {
    display: block;
  }
}

.todo-view {
  position: relative;
}

#todos-list li input {
  border: none;
  box-sizing: border-box;
  line-height: 40px;
  margin: 0 0 0 3rem;
  padding: 0 1rem;
  width: 452px;
}

#todos-list input[type="checkbox"] {
  margin-left: 0;
  position: absolute;
  left: 0;
  top: .25rem;
  height: 32px;
  width: 32px;
}

.todo-item label {
  display: block;
  font-size: 1.3rem;
  margin: 0 0 0 2rem;
  line-height: 40px;
  padding: 0 1rem;
  text-align: left;
}

.todo-item label.completed {
  color: #cccccc;
  text-decoration: line-through;
}

.delete-icon {
  background-color: #eeeeee;
  border: none;
  border-radius: .3rem;
  display: none;
  padding: .7rem .6rem;
  position: absolute;
  top: .25rem;
  right: 0;
  transition: all .2s;

  &:hover {
    background-color: $deep-orange-600;
    cursor: pointer;

    i {
      color: $white;
    }
  }
}

.delete-icon i {
  color: #cccccc;
  display: block;
}

.todo-edit {
  box-shadow: inset 0 0 8px rgba(0,0,0,.4);
  display: none;
  outline: none;
}