/*
** BUTTONS
*/

button {
  font-family: 'Montserrat', sans-serif, Arial, Helvetica, sans-serif;
}

#clear-todos-button,
#clear-completed-button,
#hide-show-completed-button {
  border: none;
  border-radius: 3px;
  outline: none;
}

.clear-todos-button-container {
  display: flex;
  justify-content: flex-end;
  padding: 0 24px;
}

#clear-todos-button {
  color: $color-primary;
  line-height: 30px;
  font-size: .8rem;
  padding: 0 10px;

  &:hover {
    background-color: $color-tertiary;
    cursor: pointer;
  }
}

#hide-show-completed-button {
  background-color: $color-secondary;
  border-radius: 4px;
  color: $textColor-secondary;
  font-size: .8rem;
  font-weight: 500;
  line-height: 36px;
  margin-left: 24px;
  padding: 0 20px;

  &:hover {
    background-color: $color-secondary;
    cursor: pointer;
  }

  &.unround-borders {
    border-radius: 4px 4px 0 0;
  }
}

#clear-todos-button {
  display: none;
}