$black: #000000;
$white: #FFFFFF;

$grey-200: #EEEEEE;
$grey-400: #BDBDBD;

$deep-orange-400: #FF7043;
$deep-orange-600: #F4511E;
$deep-orange-800: #D84315;

$indigo-600: #3949AB;

$blue-600: #1E88E5;
$blue-700: #1976D2;
$blue-800: #1565C0;
$blue-900: #0D47A1;