#completed-todos-container {
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
}

.xlist {
  display: flex;
  flex-direction: row;
}

#hide-show-completed-button {
  display: none;
  margin-left: auto;
  margin-right: auto;
}

#completed-todos {
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  outline: none;
  padding-left: 0;
  position: relative;
  width: 100%;

  li {
    background-color: rgba($black,.16);
    border-radius: 4px;
    margin-bottom: 8px;
    padding: 12px 16px;
    position: relative;
    text-align: left;

    input {
      position: absolute;
      left: 8px;
    }

    label {
      display: block;
      margin-left: 24px;
    }
  }
}