#completed-todos-container {
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
}

.xlist {
  display: flex;
  flex-direction: row;
}

#completed-todos {
  background-color: $color-secondary;
  border-radius: 0 4px 4px 4px;
  list-style-type: none;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  outline: none;
  padding: 1rem 1.7rem;
  position: relative;

  li {
    background-color: transparent;
    border-bottom: 1px solid $color-tertiary;
    font-size: .9rem;
    padding: 12px 0;
    position: relative;
    text-align: left;

    input {
      position: absolute;
      left: 0;
      margin-left: 0;
    }

    label {
      color: $textColor-tertiary;
      display: block;
      margin-left: 2.5rem;
      text-decoration: line-through;
    }

    &:last-child {
      border-bottom: none;
    }
  }
}