#completed-todos-container {
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
}

#completed-todos {
  background-color: $color-secondary;
  border-radius: 0 4px 4px 4px;
  list-style-type: none;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  outline: none;
  padding: 1rem 1.7rem;
  position: relative;

  li {
    background-color: transparent;
    border-bottom: 1px solid $color-tertiary;
    font-size: .9rem;
    padding: 12px 0;
    position: relative;
    text-align: left;

    input {
      margin: 0;
      position: absolute;
      left: 0;
      top: .9rem;
      height: 20px;
      width: 20px;
      opacity: 0;
    }

    .checkbox-completed-custom {
      background-color: $color-primary;
      border-radius: 4px;
      cursor: pointer;
      height: 20px;
      width: 20px;
      position: absolute;
      left: 0;
      top: .7rem;
      transition: all .1s;

      &:hover {
        background-color: rgba($color-primary,.6);
      }
    }

    .checkbox-completed-custom:after {
      content: "";
      position: absolute;
      display: none;
    }

    .checkbox-completed-custom:after {
      display: block;
    }
    
    /* Style the checkmark/indicator */
    .checkbox-completed-custom:after {
      left: 7px;
      top: 3px;
      width: 4px;
      height: 10px;
      border: solid $color-secondary;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    label {
      color: $textColor-tertiary;
      display: block;
      margin-left: 2.5rem;
      text-decoration: line-through;
    }

    &:last-child {
      border-bottom: none;
    }
  }
}