

.draggable-container--is-dragging {
  position: relative;

  .draggable-source--is-dragging {
    background-color: $color-secondary;
    border: 3px dashed rgba($color: $color-primary, $alpha: 1);

    .draggable-icon {
      background-color: $color-secondary;

      &:hover i {
        color: $color-tertiary;
      }
    }

    .delete-icon {
      visibility: hidden;
    }
  }

  .draggable-mirror {
    display: none;
  }
}

.draggable-container--over {
  position: relative;
}