/*
** ICONS
*/

.icon-add-task {
  color: $color-tertiary;
  font-size: .8rem;
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}

.icon-dropdown {
  margin-left: 1rem;
  position: relative;
  top: 1px;
}